@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

.App {
  background-color: #e4f0fe;
  height: 99vh;
  font-family: "Poppins";
  padding-top: 1px;
}

.appContent {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 1.5rem;
}

.appHeader {
  min-width: 20%;
  margin: auto;
}

.appHeader h1 {
  font-weight: bold;
  color: #0c4a6e;
  margin-bottom: 0;
}

.appHeader h3 {
  margin-top: 0;
}
